*.sw[po]
rootfs/
ct-ng/
rootfs.tar
root/
build/
dist/

debian/files
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/imx28-mxsboot
debian/linux-image-wurzelwerk-imx28-production
debian/linux-image-wurzelwerk-imx28-development
debian/linux-image-wurzelwerk-imx28-init
