Source: linux-image-wurzelwerk-imx28
Section: kernel
Priority: optional
Maintainer: Konrad Mohrfeldt <mohrfeldt@silicann.com>
Build-Depends: debhelper (>= 9), dh-exec
Standards-Version: 3.9.8

Package: linux-image-wurzelwerk-imx28
Architecture: armel
Depends: ${misc:Depends}
Description: Wurzelwerk Kernel for NXP i.MX28 Processors

Package: imx28-mxsboot
Architecture: any
Depends: ${misc:Depends}
Description: U-Boot tool for bootstream things
