#!/usr/bin/make -f

PACKAGE_VARIANTS = production development init


%:
	# 'imx28-mxsboot' is copied from the production build (see debian/imx28-mxsboot.install)
	VARIANT=production dh $@ \
		--package=linux-image-wurzelwerk-imx28-production \
		--package=imx28-mxsboot
	VARIANT=development dh $@ \
		--package=linux-image-wurzelwerk-imx28-development
	VARIANT=init dh $@ \
		--package=linux-image-wurzelwerk-imx28-init

override_dh_auto_install:
	for variant in $(PACKAGE_VARIANTS); do \
		VARIANT=$$variant dh_auto_install \
			--package=linux-image-wurzelwerk-imx28-$$variant \
			--destdir=debian/linux-image-wurzelwerk-imx28-$$variant; \
	done
