#!/usr/bin/make -f

%:
	# 'imx28-mxsboot' is copied from the production build (see debian/imx28-mxsboot.install)
	for variant in production development init; do \
		VARIANT=$$variant dh $@ \
			--package=linux-image-wurzelwerk-imx28-$$variant \
			--destdir=debian/linux-image-wurzelwerk-imx28-$$variant; \
	done
