#!/usr/bin/make -f

%:
	# 'imx28-mxsboot' is taken from the production build
	VARIANT=production DESTDIR=debian/linux-image-wurzelwerk-imx28-production \
		dh $@ --package=linux-image-wurzelwerk-imx28-production
	VARIANT=development DESTDIR=debian/linux-image-wurzelwerk-imx28-development \
		dh $@ --package=linux-image-wurzelwerk-imx28-development
	VARIANT=init DESTDIR=debian/linux-image-wurzelwerk-imx28-init \
		dh $@ --package=linux-image-wurzelwerk-imx28-init
